<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Delete Employee</title>
<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<!-- Bootstrap JS -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
	integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
	crossorigin="anonymous"></script>
</head>

<body style="background-color: #f8f9fd">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/pd/}">University Payroll - UP
				| Personnel Department</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link " th:href="@{/pd/}">Home</a> <a class="nav-link"
						th:href="@{/pd/addEmployee}">Add Employee</a> <a
						class="nav-link active" aria-current="page"
						th:href="@{/pd/deleteEmployee}">Delete Employee</a> <a
						class="nav-link" th:href="@{/pd/manageLeaves}">Manage Leaves</a> <a
						class="nav-link" th:href="@{/pd/recordLeaves}">Record Leaves</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="d-flex align-items-start m-4">
		<a href="#" data-toggle="tooltip"> <i
			class="fas fa-language langChange"></i></a>
	</div>
	<div class="container d-flex justify-content-center">
		<div class="card h-50 w-50 p-3 shadow-sm"
			style="background-color: white; border-top: 5px solid #007BFF;">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active" id="nav-home-tab"
						data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
						role="tab" aria-controls="nav-home" aria-selected="true">Delete
						a Full Time Employee</button>
					<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
						data-bs-target="#nav-profile" type="button" role="tab"
						aria-controls="nav-profile" aria-selected="false">Delete
						a Casual Employee</button>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
					aria-labelledby="nav-home-tab">
					<!--Form-->

					<div class="card-body">
						<div class="card-title"></div>
						<div class="row">
							<div class="col-1">
								<i class="fas fa-male " style="color: #d4d3d3; font-size: 300%;"></i>
							</div>
							<h3 class="my-4 text-center" style="color: #007BFF;">Delete
								a Full Time Employee</h3>
						</div>
						<table class="table table-bordered table-striped">

							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Email</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="employee: ${fullTimeEmployees}">
									<td th:text="${employee.id}" />
									<td th:text="${employee.name}" />
									<td th:text="${employee.email}" />
									<td><a
										th:href="@{deleteEmployee/deletefull/{id}(id=${employee.id})}"
										class="btn btn-danger">Delete</a></td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>

				<div class="tab-pane fade" id="nav-profile" role="tabpanel"
					aria-labelledby="nav-profile-tab">
					<!--Form-->

					<div class="card-body">
						<div class="card-title"></div>
						<div class="row">
							<div class="col-1">
								<i class="fas fa-male " style="color: #d4d3d3; font-size: 300%;"></i>
							</div>
							<h3 class="my-4 text-center" style="color: #007BFF;">Delete
								a Casual Employee</h3>
						</div>
						<table class="table table-bordered table-striped">

							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Email</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="employee: ${casualEmployees}">
									<td th:text="${employee.id}" />
									<td th:text="${employee.name}" />
									<td th:text="${employee.email}" />
									<td><a
										th:href="@{deleteEmployee/deletecasual/{id}(id=${employee.id})}"
										class="btn btn-danger">Delete</a></td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script>
        // Disable form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    </script>

	<!-- Footer -->

	<div class=" text-center  rounded-0 mt-5" style="margin-bottom: 0"
		id="footer"></div>
</body>
</html>